# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth

SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqdG9ibW9vdnN4Y2ZpY3RqbmJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkzNzIxNTMsImV4cCI6MjA2NDk0ODE1M30.TTFxmGjLX_RabRCNizt6NDQpMVC4YJmyyyLRCn6RoJc
SUPABASE_URL=https://ajtobmoovsxcfictjnbc.supabase.co